/.vs/Bench4.0/v15/.suo
/.vs/Bench4.0/v15/Server/sqlite3/db.lock
/.vs/Bench4.0/v15/Server/sqlite3/storage.ide
/.vs/Bench4.0/v15/Server/sqlite3/storage.ide-shm
/.vs/Bench4.0/v15/Server/sqlite3/storage.ide-wal
/Bench3.5/obj/Bench3.5.csproj.nuget.cache
/Bench3.5/obj/Bench3.5.csproj.nuget.g.props
/Bench3.5/obj/Bench3.5.csproj.nuget.g.targets
/Bench3.5/obj/Debug/netcoreapp2.0/Bench3.5.AssemblyInfo.cs
/Bench3.5/obj/Debug/netcoreapp2.0/Bench3.5.AssemblyInfoInputs.cache
/Bench3.5/obj/Debug/netcoreapp2.0/Bench3.5.csproj.CoreCompileInputs.cache
/Bench3.5/obj/project.assets.json
/Bench3.5_2/obj/Debug/Bench3.5_2.csproj.CoreCompileInputs.cache
/Bench3.5_2/obj/Debug/Bench3.5_2.csproj.FileListAbsolute.txt
/Bench3.5_2/obj/Debug/Bench3.5_2.csprojResolveAssemblyReference.cache
/Bench3.5_2/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Bench3.5_2/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/Bench3.5_2/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/Bench3.5_2/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/Bench4.0/bin/Debug/netcoreapp2.0/10725CC4BB9DA67.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/12EF99468C1CC4A6.raven-cluster-topology
/Bench4.0/bin/Debug/netcoreapp2.0/346D1F07B3F2801A.raven-cluster-topology
/Bench4.0/bin/Debug/netcoreapp2.0/5987E3DBCD4DEEC7.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/63761EF356107D6E.raven-cluster-topology
/Bench4.0/bin/Debug/netcoreapp2.0/6DF49D02C1DE0E49.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/9048FCA4714283C5.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/A4B80F8868335D08.raven-cluster-topology
/Bench4.0/bin/Debug/netcoreapp2.0/B31D14BCB1BF20F7.raven-cluster-topology
/Bench4.0/bin/Debug/netcoreapp2.0/Bench4.0.deps.json
/Bench4.0/bin/Debug/netcoreapp2.0/Bench4.0.dll
/Bench4.0/bin/Debug/netcoreapp2.0/Bench4.0.pdb
/Bench4.0/bin/Debug/netcoreapp2.0/Bench4.0.runtimeconfig.dev.json
/Bench4.0/bin/Debug/netcoreapp2.0/Bench4.0.runtimeconfig.json
/Bench4.0/bin/Debug/netcoreapp2.0/D585FA0D61DE062B.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/E8C5E77DA25ABDE1.raven-topology
/Bench4.0/bin/Debug/netcoreapp2.0/F6EFD2B77701CC6.raven-topology
/Bench4.0/bin/Release/PublishOutput/3A65C4DF09CE6B80.raven-topology
/Bench4.0/bin/Release/PublishOutput/4116FF6AD0A83F5C.raven-topology
/Bench4.0/bin/Release/PublishOutput/43867BFDA2F19A41.raven-topology
/Bench4.0/bin/Release/PublishOutput/6112273E2776A74A.raven-topology
/Bench4.0/bin/Release/PublishOutput/6DF49D02C1DE0E49.raven-topology
/Bench4.0/bin/Release/PublishOutput/A4B80F8868335D08.raven-cluster-topology
/Bench4.0/bin/Release/PublishOutput/A679F4C859FDD397.raven-topology
/Bench4.0/bin/Release/PublishOutput/A8B253CFAF5B97DD.raven-cluster-topology
/Bench4.0/bin/Release/PublishOutput/B14E6F3C73BF6BDE.raven-topology
/Bench4.0/bin/Release/PublishOutput/B31D14BCB1BF20F7.raven-cluster-topology
/Bench4.0/bin/Release/PublishOutput/Bench4.0.deps.json
/Bench4.0/bin/Release/PublishOutput/Bench4.0.dll
/Bench4.0/bin/Release/PublishOutput/Bench4.0.pdb
/Bench4.0/bin/Release/PublishOutput/Bench4.0.runtimeconfig.json
/Bench4.0/bin/Release/PublishOutput/C2F0E01D8F1E0D01.raven-topology
/Bench4.0/bin/Release/PublishOutput/D585FA0D61DE062B.raven-topology
/Bench4.0/bin/Release/PublishOutput/DE40742C3C153C40.raven-topology
/Bench4.0/bin/Release/PublishOutput/E69B6AE87D7C103F.raven-topology
/Bench4.0/bin/Release/PublishOutput/E8C5E77DA25ABDE1.raven-topology
/Bench4.0/bin/Release/PublishOutput/ED32A45C2466F3CA.raven-topology
/Bench4.0/bin/Release/PublishOutput/F17CDEC1E9D4E410.raven-topology
/Bench4.0/bin/Release/PublishOutput/F6EFD2B77701CC6.raven-topology
/Bench4.0/bin/Release/PublishOutput/Lambda2Js.dll
/Bench4.0/bin/Release/PublishOutput/Newtonsoft.Json.dll
/Bench4.0/bin/Release/PublishOutput/Raven.Client.dll
/Bench4.0/bin/Release/PublishOutput/Sparrow.dll
/Bench4.0/bin/Release/PublishOutput/System.Runtime.CompilerServices.Unsafe.dll
/Bench4.0/bin/Release/PublishOutput/output.csv
/Bench4.0/bin/Release/netcoreapp2.0/346D1F07B3F2801A.raven-cluster-topology
/Bench4.0/bin/Release/netcoreapp2.0/6112273E2776A74A.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/6DF49D02C1DE0E49.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/A4B80F8868335D08.raven-cluster-topology
/Bench4.0/bin/Release/netcoreapp2.0/A679F4C859FDD397.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/B31D14BCB1BF20F7.raven-cluster-topology
/Bench4.0/bin/Release/netcoreapp2.0/Bench4.0.deps.json
/Bench4.0/bin/Release/netcoreapp2.0/Bench4.0.dll
/Bench4.0/bin/Release/netcoreapp2.0/Bench4.0.pdb
/Bench4.0/bin/Release/netcoreapp2.0/Bench4.0.runtimeconfig.dev.json
/Bench4.0/bin/Release/netcoreapp2.0/Bench4.0.runtimeconfig.json
/Bench4.0/bin/Release/netcoreapp2.0/C2F0E01D8F1E0D01.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/D585FA0D61DE062B.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/DE40742C3C153C40.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/E69B6AE87D7C103F.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/E8C5E77DA25ABDE1.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/ED32A45C2466F3CA.raven-topology
/Bench4.0/bin/Release/netcoreapp2.0/F6EFD2B77701CC6.raven-topology
/Bench4.0/obj/Bench4.0.csproj.nuget.cache
/Bench4.0/obj/Bench4.0.csproj.nuget.g.props
/Bench4.0/obj/Bench4.0.csproj.nuget.g.targets
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.AssemblyInfo.cs
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.AssemblyInfoInputs.cache
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.csproj.CoreCompileInputs.cache
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.csproj.FileListAbsolute.txt
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.csprojResolveAssemblyReference.cache
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.dll
/Bench4.0/obj/Debug/netcoreapp2.0/Bench4.0.pdb
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.AssemblyInfo.cs
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.AssemblyInfoInputs.cache
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.csproj.CoreCompileInputs.cache
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.csproj.FileListAbsolute.txt
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.csprojResolveAssemblyReference.cache
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.dll
/Bench4.0/obj/Release/netcoreapp2.0/Bench4.0.pdb
/Bench4.0/obj/project.assets.json
/Bench4.0/output.csv
/BenchClient/bin/Release/netcoreapp2.0/BenchClient.deps.json
/BenchClient/bin/Release/netcoreapp2.0/BenchClient.dll
/BenchClient/bin/Release/netcoreapp2.0/BenchClient.pdb
/BenchClient/bin/Release/netcoreapp2.0/BenchClient.runtimeconfig.dev.json
/BenchClient/bin/Release/netcoreapp2.0/BenchClient.runtimeconfig.json
/BenchClient/obj/BenchClient.csproj.nuget.cache
/BenchClient/obj/BenchClient.csproj.nuget.g.props
/BenchClient/obj/BenchClient.csproj.nuget.g.targets
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.AssemblyInfo.cs
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.AssemblyInfoInputs.cache
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.csproj.CoreCompileInputs.cache
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.csproj.FileListAbsolute.txt
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.csprojResolveAssemblyReference.cache
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.dll
/BenchClient/obj/Release/netcoreapp2.0/BenchClient.pdb
/packages/RavenDB.Client.3.5.5-patch-35244/RavenDB.Client.3.5.5-patch-35244.nupkg
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Abstractions.dll
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Abstractions.xml
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Client.Lightweight.XML
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.5.5-patch-35244/lib/net45/Raven.Client.Lightweight.pdb
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Raven.Abstractions.dll
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Raven.Abstractions.pdb
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Raven.Client.Lightweight.deps.json
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Raven.Client.Lightweight.dll
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Raven.Client.Lightweight.pdb
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Sparrow.dll
/packages/RavenDB.Client.3.5.5-patch-35244/lib/netstandard1.3/Sparrow.pdb
/BenchTests/obj/BenchTests.csproj.nuget.cache
/BenchTests/obj/BenchTests.csproj.nuget.g.props
/BenchTests/obj/BenchTests.csproj.nuget.g.targets
/BenchTests/obj/Release/netstandard2.0/BenchTests.AssemblyInfo.cs
/BenchTests/obj/Release/netstandard2.0/BenchTests.AssemblyInfoInputs.cache
/BenchTests/obj/Release/netstandard2.0/BenchTests.csproj.CoreCompileInputs.cache
/BenchTests/obj/Release/netstandard2.0/BenchTests.csproj.FileListAbsolute.txt
/BenchTests/obj/Release/netstandard2.0/BenchTests.csprojResolveAssemblyReference.cache
/BenchTests/obj/project.assets.json
